{
	acme_dns cloudflare {env.CLOUDFLARE_TOKEN} {
		resolvers 1.1.1.1 8.8.8.8
	}
	dns cloudflare {env.CLOUDFLARE_TOKEN}
	tailscale {
		ephemeral
		tags tag:caddy
	}
}

:80 {
	respond "Hello, World!"
}

{$HEADSCALE_DOMAIN} {
	redir / /admin
	reverse_proxy /admin* headplane:80
	reverse_proxy headscale:80
}

{$ROUTER_DOMAIN} {
	bind tailscale/caddy
	reverse_proxy 192.168.1.1:80
}

# {$REDDIT_DOMAIN} {
# 	reverse_proxy libreddit:80
# }

reddit.{$TAILNET} {
	bind tailscale/reddit
	reverse_proxy libreddit:80
}

youtube.{$TAILNET} {
	bind tailscale/youtube
	reverse_proxy invidious:80
}

twitter.{$TAILNET} {
	bind tailscale/twitter
	reverse_proxy nitter:80
}

pihole.{$TAILNET} {
	bind tailscale/pihole
	redir / /admin
	reverse_proxy pihole:80
}

# {$VAULTWARDEN_DOMAIN} {
# 	# Notifications redirected to the WebSocket server
# 	reverse_proxy /notifications/hub vaultwarden:3012
# 	reverse_proxy vaultwarden:80
# }
