{$PIHOLE_DOMAIN} {
	encode gzip zstd
	reverse_proxy pihole:80 {
		header_up X-Real-IP {remote_host}
	}

	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}
}

http://pi.hole {
	encode gzip zstd
	reverse_proxy pihole:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$REDDIT_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy libreddit:8080 {
		header_up X-Real-IP {remote_host}
	}
}

{$VAULTWARDEN_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	# Notifications redirected to the WebSocket server
	reverse_proxy /notifications/hub vaultwarden:3012

	# Proxy everything else to Rocket
	reverse_proxy vaultwarden:80 {
		# Send the true remote IP to Rocket, so that vaultwarden can put this in the
		# log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}

{$BIBLIOGRAM_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy bibliogram:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$INVIDIOUS_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy invidious:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$LINGVA_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy lingva:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$NITTER_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy nitter:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$PROXITOK_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy proxitok:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$RIMGO_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy rimgo:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$GITEA_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy gitea:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$NEXTCLOUD_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy nextcloud:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$SYNCTHING_DISCOVERY_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy syncthing-discovery:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$SYNCTHING_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy syncthing:80 {
		header_up X-Real-IP {remote_host}
	}
}

{$QUETRE_DOMAIN} {
	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy quetre:80 {
		header_up X-Real-IP {remote_host}
	}
}