{
	acme_dns cloudflare {env.CLOUDFLARE_TOKEN} {
		resolvers 1.1.1.1 8.8.8.8
	}
	dns cloudflare {env.CLOUDFLARE_TOKEN}
	tailscale {
		ephemeral
		tags tag:caddy
	}
	default_bind tailscale/caddy
}

http://192.168.1.85 {
	bind 0.0.0.0
	respond "Hello, World!"
}

{$ROUTER_DOMAIN} {
	encode gzip zstd
	reverse_proxy 192.168.1.1:80 {
		header_up X-Real-IP {remote_host}
	}
}

# {$REDDIT_DOMAIN} {
# 	reverse_proxy libreddit:80
# }

reddit.{$TAILNET} {
	bind tailscale/reddit
	reverse_proxy libreddit:80
}

{$INVIDIOUS_DOMAIN} {
	reverse_proxy invidious:80
}

{$PIHOLE_DOMAIN} {
	reverse_proxy pihole:80
}

{$HEADSCALE_DOMAIN} {
	bind 0.0.0.0
	reverse_proxy headscale:80
}

# {$VAULTWARDEN_DOMAIN} {
# 	encode gzip

# 	# Notifications redirected to the WebSocket server
# 	reverse_proxy /notifications/hub vaultwarden:3012
# 	reverse_proxy vaultwarden:80
# }
