{$INVIDIOUS_DOMAIN}:443 {
	log {
		level INFO
		output file {$LOG_DIR}/invidious.log {
			roll_size 10MB
			roll_keep 10
		}
	}

	tls {
		dns duckdns {$DUCKDNS_TOKEN} {
			override_domain {$DUCKDNS_DOMAIN}
		}
	}

	encode gzip

	reverse_proxy invidious:80 {
		header_up X-Real-IP {remote_host}
	}
}