volumes:
  invidious-db: { name: invidious-db }
  invidious-companion-cache: { name: invidious-companion-cache }

networks:
  invidious: { name: invidious }
  caddy: { external: true }

configs:
  invidious: { file: ./invidious.yml }

services:
  invidious-db:
    image: postgres:14
    container_name: invidious-db
    restart: unless-stopped
    volumes:
      - ./config/sql:/config/sql
      - ./docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
      - invidious-db:/var/lib/postgresql/data
    networks:
      - invidious
    mem_limit: 60MiB
    environment:
      POSTGRES_DB: invidious
      POSTGRES_PASSWORD: kemal
      POSTGRES_USER: kemal
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"
        ]

  invidious:
    image: quay.io/invidious/invidious:latest
    container_name: invidious
    restart: unless-stopped
    depends_on:
      - invidious-db
    mem_limit: 60MiB
    networks:
      - invidious
      - caddy
    configs:
      - source: invidious
        target: /invidious/config/config.yml
    environment:
      - INVIDIOUS_HMAC_KEY=${INVIDIOUS_HMAC_KEY}
      - INVIDIOUS_INVIDIOUS_COMPANION_KEY=${INVIDIOUS_COMPANION_KEY}
    healthcheck:
      test: wget -nv --tries=1 --spider http://invidious/api/v1/comments/jNQXAC9IVRw || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
  companion:
    image: quay.io/invidious/invidious-companion:latest
    container_name: invidious-companion
    networks:
      - invidious
    environment:
      - PORT=80
       - SERVER_SECRET_KEY=${INVIDIOUS_COMPANION_KEY}
    restart: unless-stopped
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    cap_drop:
      - ALL
    read_only: true
    volumes:
      - invidious-companion-cache:/var/tmp/youtubei.js:rw
    security_opt:
      - no-new-privileges:true